mixin tariff-form(data, period, title, price, onSubmit)
  form(class='form needs-validation flex flex-wrap grow w-full' onSubmit=onSubmit)

    div(class='mb-2 md:px-2 flex flex-col w-full sm:w-1/2 relative')
      label(class='mb-2 flex flex-col leading-6 text-white-900')
        span(class='font-black text-md mr-auto') Имя
        input(name='firstName' type='text' placeholder='Имя' required class='form__field block font-normal border-2 border-mako-100 focus:border-mako-500 rounded-lg bg-transparent p-2 py-3 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6')
        small(class='error absolute top-0 right-0 text-md text-mexican-red-700') Заполните поле

    div(class='mb-2 md:px-2 flex flex-col w-full sm:w-1/2 relative')
      label(class='mb-2 flex flex-col leading-6 text-white-900')
        span(class='font-black text-md mr-auto') Фамилия
        input(name='lastName' type='text' value='' placeholder='Фамилия' required class='form__field block font-normal border-2 border-mako-100 focus:border-mako-500 rounded-lg bg-transparent p-2 py-3 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6')
        small(class='error absolute top-0 right-0 text-md text-mexican-red-700') Заполните поле

    div(class='mb-2 md:px-2 flex flex-col w-full relative')
      label(class='mb-2 flex flex-col leading-6 text-white-900')
        span(class='font-black text-md mr-auto') Номер телефона
        input(name='phone' type='tel' value='' placeholder='+7(999) 999-99-99' mask='+7(999) 999-99-99' required class='form__field block font-normal border-2 border-mako-100 focus:border-mako-500 rounded-lg bg-transparent p-2 py-3 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6')
        small(class='error absolute top-0 right-0 text-md text-mexican-red-700') Заполните поле

    if (period === 'mc')
      null 
    else 
      div(class='relative flex flex-col w-full mb-2 px-2')
        label(class='mb-2 flex flex-col leading-6 text-white-900')
          span(class='font-black text-md mr-auto') Выберете клуб

          select(name='club_id' required class='form__select form__field block h-11 w-full p-2 py-3 flex-1 border-2 border-mako-100 rounded-md bg-transparent text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6')
            option( selected disabled value='') Выберете клуб

            if (period === 'morning')
              each el in [...data[0].clubs]
                option( value=el.id.morningID)=el.club.addressForm
            else if (period === 'full')
              each el in [...data[1].clubs]
                option( value=el.id.fullID)=el.club.addressForm

    div(class='mb-2 md:px-2 flex flex-col w-full relative')
      label(class='mb-2 flex flex-col leading-6 text-white-900')
        span(class='font-black text-md mr-auto') Дата рождения

          span(class='inline-flex flex-col ml-1 group')
            span(class='w-8 h-auto')
              +svg_icon(("images/sprite.svg"), "icon-info", "18", "18", "0 0 22 22")
            span(class='absolute bottom-0 left-1/2 -translate-x-1/2 flex-col items-center hidden mb-6 group-hover:flex')
              small(class='relative z-10 p-2 md:p-4 text-md leading-none text-white-800 whitespace-no-wrap bg-white-100 shadow-lg rounded-md w-60 max-w-full text-center') !{TEXT_TOOLTIP_BIRTH_DAY}

        input(type='date'
          name='birthDay'
          value=""
          min='1900-01-01'
          max='1999-01-01' required class='form__field block font-normal border-2 border-mako-100 focus:border-mako-500 rounded-lg bg-transparent p-2 py-2.5 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6')

      small(class='hidden absolute top-0 right-0 text-md text-mexican-red-700') Заполните поле

    div(class='mb-2 md:px-2 flex flex-col w-full relative')
      label(class='mb-2 flex flex-col leading-6 text-white-900')
        span(class='font-black text-md mr-auto') Email
        input(placeholder='Email'
          type='text'
          name='Email'
          value=''
          class='form__field block font-normal border-2 border-mako-100 focus:border-mako-500 rounded-lg bg-transparent p-2 py-3 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6')

    input(type="hidden" name="product_name" value=title)
    input(type="hidden"  name="product_price" value=price)
    
    button(type='submit' class='btn w-full rounded-3xl bg-curious-blue-500 text-white hover:bg-white-50 hover:text-curious-blue-500 hover:border-curious-blue-500 border-2 font-bold block p-4 my-2 mx-1 grow') Далее

    div(class='relative pt-4 flex flex-col gap-x-3 max-w-screen-sm')
      label(class='flex gap-x-3 pb-3 xl:pb-5')
        span(class='flex h-6 items-center')
          input(id='isCheck' type='checkbox' required class='block font-normal border-2 border-mako-100 focus:border-mako-500 rounded-lg bg-transparent p-2 py-3 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6')
      
        span(class='text-sm text-left leading-6 pb-1')
          span(class='font-medium text-gray-900')
            | Я ознакомлен(-на) и согласен(-на) с условиями
            | 
            a(class='text-picton-blue-500' href='https://market.fitnesshouse.ru/documentation' target='_blank' rel='noreferrer')
              | Договора Оферты,
            | 
            a(class='text-picton-blue-500' href='https://market.fitnesshouse.ru/storage/documents/pravila_cluba.pdf' target='_blank' rel='noreferrer') Правилами Клуба
              | 
            | и даю своё согласие на
            span 
            | 
            a(class='text-picton-blue-500' href='https://market.fitnesshouse.ru/storage/documents/legal_information.pdf' target='_blank' rel='noreferrer')
              | обработку персональных данных.


      small(class='hidden absolute top-0 right-0 text-md text-mexican-red-700') Заполните поле

